.sidebar {
  width: 25%;
  max-width: 280px;
  height: 100vh;
  /* background-color: #f9f9f9; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sidebarHeader {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e0e0e0;
}

.sidebarHeader img {
  margin-bottom: 16px;
  width: 64px;
  object-fit: contain;
}

.sidebarHeader .title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
}

/* sidebarBody */
.sidebarBody {
  padding: 24px 16px;
  height: 100%;
}

.sidebarBody h2 {
  margin-bottom: 8px;
  color: var(--primary-color);
  font-size: 1rem;
}

/* sidebar footer */
.sidebarFooter {
  padding: 16px;
  border-top: 1px solid #e0e0e0;
}

.settingsBtn {
  width: 100%;
  display: inline-flex;
  align-items: center;
}

/* document-question-answering  */
.fileUpload {
  margin-bottom: 24px;
}

.fileDrop {
  margin-bottom: 16px;
  padding: 20px;
  width: 100%;
  height: 160px;
  background-color: #3a3a3a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.fileInput {
  margin-bottom: 16px;
}

.fileInput p {
  border-radius: 5px;
}

.fileInput {
  display: none;
}

.document button {
  padding: 10px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 1em;
}

.fileInfo p {
  margin: 5px 0;
}

/* document preview  */
.pdfPreview {
  margin-bottom: 24px;
  /* padding: 20px; */
  /* background-color: #3a3a3a; */
}

.pdfPreviewImage {
  height: 100px;
  background-color: #555;
  border-radius: 10px;
  margin-top: 10px;
}
